<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
</head>
<body>
    

        <!-- Sidebar -->
        <div class="bg-inverse border-right" id="sidebar-wrapper">
          <div class="sidebar-heading text-white">Start Bootstrap </div>
          
              <ul class="list-group list-group-flush sidemenu"> 
                  <li><input type="checkbox" name="btn-menu-prospect" id="btn-prospect">
                    <label for="btn-prospect"><a href="#" class="list-group-item list-group-item-action bg-inverse text-white" >Dashboard</a></label>
                    <ul class="submenu">
                        <li>
                            <a href="#" class="list-group-item list-group-item-action bg-inverse text-white">Submenu</a>
        
                          </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#" class="list-group-item list-group-item-action bg-inverse text-white">Shortcuts</a>

                  </li>
                  <li>
                    <a href="#" class="list-group-item list-group-item-action bg-inverse text-white">Overview</a>

                  </li>
                  <li>
                    <a href="#" class="list-group-item list-group-item-action bg-inverse text-white">Events</a>

                  </li>
                  <li>
                    <a href="#" class="list-group-item list-group-item-action bg-inverse text-white">Profile</a>

                  </li>
                  <li>
                    <a href="#" class="list-group-item list-group-item-action bg-inverse text-white">Status</a>

                  </li>
                

              </ul>
          
        </div>
        <!-- /#sidebar-wrapper -->
      
      
   
</body>
</html>